name: Next.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js 24.13.0
        uses: actions/setup-node@v4
        with:
          node-version: "24.13.0"
          cache: "npm"

      - name: Cache do Next.js
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Instalar dependências
        run: npm ci

      - name: Checar Linting
        run: npm run lint

      - name: Rodar os Testes
        run: npm test

      - name: Build da aplicação Next.js
        run: npm run build
